@media not print {
    body {
        color: #635959;
    }

    header {
        color: #EFEFEF;
        background-color: #242323;
    }

    h3, article h4 {
        color: #8C1018;
    }

    article a {
        color: #314052;
    }
}

@media print {
    header {
        padding: 0px;
    }
    header h1 {
        font-size: 2em;
    }
    header h2 {
        display: none;
    }
}

body {
    font-family: 'News Cycle' !important;
}

header {
    font-family: 'Contrail One';
}

header h1 {
    font-size: 4em;
}

main figure > figcaption {
    font-size: 0.75em;
    font-style: italic;
}

main figure > figcaption::before {
    content: 'Pictured Above: ';
    font-weight: bold;
}

article > time {
    float: right;
    font-size: 0.75em;
    font-weight:lighter;
}

main > h3 {
    font-size: 2em;
}

header {
    padding: 20px 50px;
}

main {
    padding: 5px 10px;
}

@font-face {
    font-family: News Cycle;
    src: url(../fonts/mod3_news_cycle.ttf);
}
@font-face {
    font-family: Contrail One;
    src: url(../fonts/mod3_contrail_one.ttf);
}

article {
    margin: 5px 0px;
    padding: 5px 5px;
    box-shadow: -1px -1px 6px #888888;
}

.carousel-inner {
    text-align: center;
}

.carousel .item > img {
    display: inline-block;
}
/*section#carousel > figure > img { !*This rule will hide the figure elements by default*!*/
    /*display: none;*/
    /*margin: 0 auto;*/
/*}*/

/*section#carousel > figure.visible > img { !*This rule will show only the figure elements that reference the class "visible"*!*/
    /*display: block;*/
    /*position: relative;*/
    /*overflow: hidden;*/
/*}*/

/*section#carousel > figure > figcaption { !*This rule will hide the figcaption elements by default*!*/
    /*display: none;*/
/*}*/

/*section#carousel > figure.visible > figcaption { !*This rule will only show the figcaption elements that reference the class "visible"*!*/
    /*display: block;*/
    /*text-align: center;*/
    /*font-weight: bold;*/
    /*font-size: 1.5em;*/
/*}*/
